/* ----- FEATURED BOX ----- */
.featured-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
}

.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;

  &-card span {
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
  }
}

.featured-name {
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color-second);
  margin-block: 20px;
}

.typedText {
  text-transform: capitalize;
  color: var(--text-color-third);
}

.featured-image {
  display: flex;
  justify-content: right;
  align-content: center;
  min-height: 80vh;
  width: 50%;

  .image {
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    img {
      width: 380px;
      object-fit: cover;
    }
  }
}

/* ----- ABOUT & SKILLS ----- */
.about-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  background: var(--color-white);
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  border-radius: 20px;

  p {
    font-size: 15px;
    color: #777;
  }
}

.skills-container {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-item {
  flex-basis: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ----- CONTACT FORM ----- */
.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 315px;
  background: var(--second-color);
  border-radius: 10px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;

  h2,
  p {
    color: var(--color-white);
  }
  &::after {
    background: var(--color-white);
    content: "";
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  &:hover {
    h2,
    p,
    i {
      color: #777;
      z-index: 2;
    }
    &::after {
      bottom: 0;
    }
  }
}

/* ----- GRID PROJECT SYSTEM ----- */
div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;

  .item {
    border: solid 1px #ccc;
    border-radius: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      border: solid 2px var(--first-color-hover);
      h4,
      strong,
      i {
        color: var(--first-color-hover);
      }
      i {
        display: block;
      }
    }

    i {
      display: none;
      margin-top: 10px;
    }
  }
}
